NODE_ENV=development
PORT=5000
MONGO_URI="mongodb+srv://<username>:<password>@cluster0.kqqpufe.mongodb.net/bizdirectory?retryWrites=true&w=majority"

JWT_SECRET=your_jwt_secret
JWT_EXPIRE=7d
FRONTEND_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=your_admin_password
ADMIN_NAME=Super Admin
